* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #00bcd4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.canvas-container {
  /* width: 500px;
  height: 750px; */
  height: 100%;
}
